<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="dk.itu.big_red.interactionManagers">
      <interactionManager
            class="example.big_red.interaction_manager.dummy.DummyInteractionManager"
            id="example.big_red.interaction_manager.dummy"
            name="Dummy interaction manager for Big Red">
      </interactionManager>
   </extension>

</plugin>
