<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="dk.itu.big_red.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="dk.itu.big_red.intro.Perspective"
            icon="icons/icon32.png"
            id="dk.itu.big_red.perspective"
            name="Big Red">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="dk.itu.big_red.NewAgentWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="dk.itu.big_red.NewBRSWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="dk.itu.big_red.NewRuleWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="dk.itu.big_red.application"
            description="The integrated development environment for bigraphs"
            name="Big Red">
         <property
               name="windowImages"
               value="icons/icon16.png,icons/icon32.png">
         </property>
         <property
               name="appName"
               value="Big Red">
         </property>
         <property
               name="aboutImage"
               value="content/logo-big.png">
         </property>
         <property
               name="aboutText"
               value="Big Red, the integrated development environment for bigraphs&#x0A;v.1.0.0.1001-dk&#x0A;Copyright © 2009, 2010 Alexander Faithfull. All rights reserved.&#x0A;&#x0A;Big Red is built on the Eclipse Rich Client Platform.&#x0A;Copyright © Eclipse contributors and others 2000, 2009.  All rights reserved.&#x0A;Visit http://eclipse.org/&#x0A;&#x0A;This product includes software developed by the Apache Software Foundation, http://apache.org/.">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupProgressRect"
               value="2,284,451,10">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="22,264,411,20">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="dk.itu.big_red.intro">
      </intro>
      <introProductBinding
            introId="dk.itu.big_red.intro"
            productId="dk.itu.big_red.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="dk.itu.big_red.introConfigId"
            introId="dk.itu.big_red.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="dk.itu.big_red.editors.BigraphEditor"
            contributorClass="dk.itu.big_red.editors.assistants.BigraphEditorActionBarContributor"
            default="true"
            extensions="bigraph, bigraph-agent"
            icon="icons/icon16.png"
            id="dk.itu.big_red.BigraphEditor"
            name="Bigraph Editor">
      </editor>
      <editor
            class="dk.itu.big_red.editors.RuleEditor"
            contributorClass="dk.itu.big_red.editors.assistants.RuleEditorActionBarContributor"
            default="false"
            extensions="bigraph-rule"
            icon="icons/icon16.png"
            id="dk.itu.big_red.RuleEditor"
            name="Rule Editor">
      </editor>
      <editor
            class="dk.itu.big_red.editors.SignatureEditor"
            contributorClass="dk.itu.big_red.editors.assistants.SignatureEditorActionBarContributor"
            default="false"
            extensions="bigraph-signature"
            icon="icons/icon16.png"
            id="dk.itu.big_red.SignatureEditor"
            name="Signature Editor">
      </editor>
      <editor
            class="dk.itu.big_red.editors.SimulationSpecEditor"
            contributorClass="dk.itu.big_red.editors.assistants.SignatureEditorActionBarContributor"
            default="false"
            extensions="bigraph-simulation-spec"
            icon="icons/cic/process.png"
            id="dk.itu.big_red.SimulationSpecEditor"
            name="Simulation Spec Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="dk.itu.big_red"
            class="dk.itu.big_red.wizards.ExportBitmapWizard"
            icon="icons/wizards/bitmap.png"
            id="Big Red.BitmapExportWizard"
            name="Export as bitmap image">
         <description>
            Export the current bigraph as a bitmap image, suitable for embedding into webpages or for low-resolution printing.
         </description>
      </wizard>
      <wizard
            category="dk.itu.big_red"
            class="dk.itu.big_red.wizards.ExportVectorWizard"
            icon="icons/wizards/vector.png"
            id="Big Red.VectorExportWizard"
            name="Export as vector image">
         <description>
            Export the current bigraph as a (scalable) vector image, suitable for use in papers and high-resolution printing.
         </description>
      </wizard>
      <category
            id="dk.itu.big_red"
            name="Big Red">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="dk.itu.big_red"
            name="Big Red">
      </category>
      <primaryWizard
            id="dk.itu.big_red.NewBRSWizard">
      </primaryWizard>
      <wizard
            category="dk.itu.big_red"
            class="dk.itu.big_red.wizards.new_wizards.NewBRSWizard"
            finalPerspective="dk.itu.big_red.perspective"
            icon="icons/icon16.png"
            id="dk.itu.big_red.NewBRSWizard"
            name="Bigraphical reactive system"
            project="true">
         <description>
            Create a new bigraphical reactive system.
         </description>
      </wizard>
      <wizard
            category="dk.itu.big_red"
            class="dk.itu.big_red.wizards.new_wizards.NewAgentWizard"
            finalPerspective="dk.itu.big_red.perspective"
            icon="icons/icon16.png"
            id="dk.itu.big_red.NewAgentWizard"
            name="Agent">
         <description>
            Create a new agent in an existing bigraphical reactive system.
         </description>
      </wizard>
      <wizard
            category="dk.itu.big_red"
            class="dk.itu.big_red.wizards.new_wizards.NewRuleWizard"
            finalPerspective="dk.itu.big_red.perspective"
            icon="icons/icon16.png"
            id="dk.itu.big_red.NewRuleWizard"
            name="Rule">
         <description>
            Create a new rule in an existing bigraphical reactive system.
         </description>
      </wizard>
      <wizard
            category="dk.itu.big_red"
            class="dk.itu.big_red.wizards.new_wizards.NewSignatureWizard"
            finalPerspective="dk.itu.big_red.perspective"
            icon="icons/icon16.png"
            id="dk.itu.big_red.NewSignatureWizard"
            name="Signature"
            project="false">
         <description>
            Create a new signature in an existing bigraphical reactive system.
         </description>
      </wizard>
      <wizard
            category="dk.itu.big_red"
            class="dk.itu.big_red.wizards.new_wizards.NewSimulationSpecWizard"
            finalPerspective="dk.itu.big_red.perspective"
            icon="icons/cic/process.png"
            id="dk.itu.big_red.NewSimulationSpecWizard"
            name="Simulation spec">
         <description>
            Create a simulation spec for an existing bigraphical reactive system.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="bigraph, bigraph-agent"
            id="dk.itu.big_red.bigraph"
            name="Bigraph"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="bigraph-rule"
            id="dk.itu.big_red.rule"
            name="Rule"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="bigraph-signature"
            id="dk.itu.big_red.signature"
            name="Signature"
            priority="normal">
      </content-type>
   </extension>

</plugin>
