<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="dk.itu.big_red.interactionManagers">
      <interactionManager
            class="org.bigraph.bigmc.red.BigMCInteractionManager"
            id="BigMC for Big Red.interactionManager1"
            name="BigMC user interface 2.0">
      </interactionManager>
   </extension>
   <extension
         point="org.bigraph.model.wrapper.export">
      <exporter
            class="org.bigraph.bigmc.red.SimulationSpecBigMCSaver"
            exports="org.bigraph.model.SimulationSpec"
            id="BigMC for Big Red.exporter1"
            name="BigMC term language">
      </exporter>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.bigraph.bigmc.red.Preferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="dk.itu.big_red.preferences.RedPreferencePage"
            class="org.bigraph.bigmc.red.PreferencePage"
            id="org.bigraph.bigmc.red.PreferencePage"
            name="BigMC for Big Red">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="dk.itu.big_red.import"
            class="org.bigraph.bigmc.red.bgm.ImportWizard"
            id="org.bigraph.bigmc.red.importWizards.ImportWizard"
            name="Import BigMC file">
         <description>
            Import a BigMC file as a new Big Red project.
         </description>
      </wizard>
   </extension>

</plugin>
