<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.bigraph.bigwb.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.bigraph.bigwb.Perspective"
            id="org.bigraph.bigwb.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.bigraph.bigwb.application"
            name="BigWB">
         <property
               name="appName"
               value="BigWB">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Update">
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.install"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.update"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
